<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
        UpgradeCode="f2f90601-ff42-4e24-b3bf-bf71cff59fa0"
		Name="Turtl v{{VERSION}}"
		Manufacturer="Lyon Bros. Enterprises, LLC"
		Language="1033"
		Version="{{VERSION}}">

		<Package
			Id="*"
			Description="LyonBros Turtl installer"
			Keywords="Installer"
			Manufacturer="Lyon Bros. Enterprises, LLC"
			InstallerVersion="300"
			Compressed="yes" />

		<MajorUpgrade
			Schedule="afterInstallInitialize"
			DowngradeErrorMessage="A later version of [ProductName] is already installed"
			AllowDowngrades="no"
			AllowSameVersionUpgrades="no" />

		<!--
		<Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
		<Upgrade Id="f7c658ae-6a16-45ad-9ba4-3d40fdbfa88b">
			<UpgradeVersion
				Minimum="0.6.0" Maximum="99.0.0"
				Property="PREVIOUSVERSIONSINSTALLED"
				IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>
		-->

		<Property Id="ALLUSERS" Value="1"/>

		<UIRef Id="WixUI_Advanced" />
		<WixVariable Id="WixUIBannerBmp" Value="installer_banner.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

		<Property Id="ApplicationFolderName" Value="Turtl" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder" Name="PFiles">
				<Directory Id="APPLICATIONFOLDER" Name="Turtl">
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Turtl" />
			</Directory>
		</Directory>


		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="286f6995-e4f3-47ac-bdc2-e36388379841">
				<Shortcut
					Id="ApplicationStartMenuShortcut"
					Name="Turtl"
					Target="[APPLICATIONFOLDER]turtl.exe"
					Icon="TurtlICO"
					WorkingDirectory="APPLICATIONFOLDER" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Turtl" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Icon Id="TurtlICO" SourceFile="turtl.ico" />
		<Media Id="1" Cabinet="Turtl.cab" EmbedCab="yes" CompressionLevel="low" />

		<Feature Id="Turtl" Title="Turtl" Level="1">
			<ComponentGroupRef Id="TurtlFileGroup" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<!--
		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>
		-->
	</Product>
</Wix>
