[Desktop Entry]
Version=0.5
Type=Application
Name=Turtl
GenericName=A secure app for notetaking, research, and collaboration.
Comment=Turtl securely store notes and files and collaborate with others.
Exec=/path/to/turtl
Terminal=false
Icon=/path/to/turtl/icon.png
Categories=Utility;
Keywords=note;idea;link;organize;research;collaboration;secure;
StartupNotify=true
